<!DOCTYPE HTML>
<html>
	<head>
		<title>IP Crowd - Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#home" class="icon fa-user"><span>Me</span></a>
						<a href="#rankings" class="icon fa-trophy"><span>Rankings</span></a>
						<a href="#work" class="icon fa-folder"><span>Scenarios</span></a>
						<a href="https://tinyurl.com/y5p5hz7k" class="icon fa-info"><span>More Info</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>{{ user }}</h1>
									<p># points</p>
								</header>
								<a href="#work" class="jumplink pic">
									<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
									<img src="{{ url_for('static', filename='images/me.jpg') }}" alt="" />
								</a>
							</article>

						<!-- Scenarios -->
							<article id="work" class="panel">
								<header>
									<h2>Scenarios</h2>
								</header>
							</article>

						<!-- Rankings -->
							<article id="rankings" class="panel">
								<header>
									<h2>Rankings</h2>
								</header>
							</article>
					</div>

				<!-- Sign Out -->
					<br>
					<div>
						<form action="{{ url_for('handle_signout') }}" method="post">
							<button type="submit" value="Sign Out" onclick=""/><i class="fa fa-sign-out fa-4x"></i></button>
						</form>
					</div>
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
		    <script>
		      // Initialize Firebase
		      var config = {
		        apiKey: "AIzaSyBEEdVVD1DaQ_bOxhQzXSPdRWrS-goqChc",
		        authDomain: "ipcrowd-a8aea.firebaseapp.com",
		        databaseURL: "https://ipcrowd-a8aea.firebaseio.com",
		        projectId: "ipcrowd-a8aea",
		        storageBucket: "ipcrowd-a8aea.appspot.com",
		        messagingSenderId: "734706257829"
		      };
		      firebase.initializeApp(config);
		    </script>
	</body>
</html>