<!DOCTYPE html>
<html>
  <head>
    <title>IP Crowd - Feed</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />


  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">


    <script src="{{ url_for('static', filename='assets/js/firebase.js') }}"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC6ce12c32OpCI7-u5ueRbfYhsw_fBnkwk",
        authDomain: "vip-ipcrowd.firebaseapp.com",
        databaseURL: "https://vip-ipcrowd.firebaseio.com",
        projectId: "vip-ipcrowd",
        storageBucket: "vip-ipcrowd.appspot.com",
        messagingSenderId: "80658497046"
      };
      firebase.initializeApp(config);
    </script>


    <style>
      #header {
        background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
      }


    </style>
  </head>

  <body>

<!--
  <nav class="bg-dark navbar-dark">
    <div class="container">
      <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Forest</a>
    </div>
  </nav>
  <section id="header" class="jumbotron text-center">
       <h1 class="display-3">FOREST</h1>
       <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
       <a href="" class="btn btn-primary">Click</a>
       <a href="" class="btn btn-secondary">Click</a>
  </section>
-->
    <br><br><br>
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>


    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
        </div>
      </div>


    </div>
  </div>
  </section>
  </body>
</html>