<!DOCTYPE html>
<html>
	<head>
		<title>IP Crowd - Scenario</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='assets/js/annotorious/annotorious.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/annotorious/annotorious.min.js') }}"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body onload="handle_data();" class="is-preload">
		<div id="wrapper">
      <form action="{{ url_for('show_scenario') }}" method="post">
				<h4>{{ bias }}</h4>
				<br>
        <img src="{{ img_url }}" class=annotatable width="620" height="512" style="border-width:3px;border-style:solid;border-color:#000000;"></img>
				<input type="hidden" name="cur_iter" value="{{ cur_iter }}" />
				<input type="hidden" name="scenario_name" value="{{ scenario_name }}" />
        <button type="submit" value="Next" onclick=""><i class="fa fa-arrow-circle-right fa-4x"></i></button>
      </form>
    </div>
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/anno_utils.js') }}"></script>
		<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyC6ce12c32OpCI7-u5ueRbfYhsw_fBnkwk",
				authDomain: "vip-ipcrowd.firebaseapp.com",
				databaseURL: "https://vip-ipcrowd.firebaseio.com",
				projectId: "vip-ipcrowd",
				storageBucket: "vip-ipcrowd.appspot.com",
				messagingSenderId: "80658497046"
			};
			firebase.initializeApp(config);
		</script>
	</body>
</html>
