<!DOCTYPE html>
<html>
	<head>
		<title>IP Crowd - Disability Services Scenario</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">

		<script src="{{ url_for('static', filename='assets/js/jquery-3.1.1.js') }}"></script>

	    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='assets/js/annotorious/annotorious.css') }}"/>
	    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/annotorious/annotorious.min.js') }}"></script>

   	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	 
	  <link href="//getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">




		<script type="javascript">
			function testing()
			{
			    var newState = -1;

			    setTimeout(function() {
			       if (newState == -1) {
			          alert('VIDEO HAS STOPPED');
			          output = "newText";
			          console.log("AFTER 5 Sec: " + output);
			          document.getElementById("myForm").submit();
			          return false;
			       }
			   }, 5000);
			   //return false;
			}
		</script>

		<script>
			$(function(){
            $('#fileupload').fileupload({
                url: 'upload',
                dataType: 'json',
                add: function (e, data) {
                  data.submit();
                },
                success:function(response,status) {
                  console.log(response.filename);
                  var filePath = 'static/Uploads/' + response.filename;
                  $('#imgUpload').attr('src',filePath);
                  $('#filePath').val(filePath);
                  console.log('success');
                },
                error:function(error){
                        console.log(error);
                }
            });
      	})
		</script>

		<script src="{{ url_for('static', filename='assets/js/firebase.js') }}"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyC6ce12c32OpCI7-u5ueRbfYhsw_fBnkwk",
				authDomain: "vip-ipcrowd.firebaseapp.com",
				databaseURL: "https://vip-ipcrowd.firebaseio.com",
				projectId: "vip-ipcrowd",
				storageBucket: "vip-ipcrowd.appspot.com",
				messagingSenderId: "80658497046"
			};
			firebase.initializeApp(config);
		</script>
		<script src="{{ url_for('static', filename='assets/js/anno_utils.js') }}"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

		 <style>
	        .btn-file {
	            position: relative;
	            overflow: hidden;
        	}
         
	        .btn-file input[type=file] {
	            position: absolute;
	            top: 0;
	            right: 0;
	            min-width: 100%;
	            min-height: 100%;
	            font-size: 100px;
	            text-align: right;
	            filter: alpha(opacity=0);
	            opacity: 0;
	            outline: none;
	            background: white;
	            cursor: inherit;
	            display: block;
	        }
		    </style>

	</head>
	<body onload="handle_data();" class="is-preload">
		<div id="wrapper">
	      <form id="myform" name="myform" action="{{ url_for('show_scenario') }}" method="post">
					<h2>{{ scenario_name }}</h2>
					<br>
					<p>{{ prompt }}</p>

					<input id="hypothesis" type="text" name="hypothesis" placeholder="Enter Locations" />
					<br><br><br>
					<p>Please annotate the image regarding other locations on campus!</p>

			        <img src="{{ img_url }}" class=annotatable width="800" style="border-width:3px;border-style:solid;border-color:#000000;"></img>

					<input type="hidden" name="cur_iter" value="{{ cur_iter }}" />
					<input type="hidden" name="scenario_name" value="{{ scenario_name }}" />
					<input type="hidden" id="username" name="username" value="{{ user }}" />

					<br><br>
					<p>Provide some suggestions as to how Georgia Tech can fix the areas you highlighted above</p>

					<textarea id="comments" name="comments" rows="5">{{ comments }}</textarea>
					<br><br>


					<h3> Do you have an image of a location on campus that requires changes? </h3>

					<p> Please attach an image below as well as provide a title and description of the image. Check out the feed on the home page aftewards to see other user's images as well!</p>

					<div class="form-group">
                		<label for="txtTitle">Title</label>
                		<input id="postTitle" name="postTitle" type="text" placeholder="Title of Post" class="form-control input-md">
          			</div>

          			<div class="form-group">
                		<label for="txtPost">Description</label>
                		<textarea class="form-control" id="postDescription" name="postDescription" placeholder="Description of Post" cols="100"></textarea>
            		</div>

            		<div class="form-group">
		                <label for="txtPost">Photos</label>
		 
		                <div class="input-group">
		                    <span class="input-group-btn">
		                    <span class="btn btn-primary btn-file">
		                        Browse… <input type="file" id="fileupload" name="file" single>
		                    </span>
		                    </span>
		                    <input type="text" class="form-control" readonly>
		                </div>
		                <br>
		                <div class="pull-right">
		                  <img id="imgUpload" style="width: 280px; height: 280px;" class="img-thumbnail"><input type="hidden" name="filePath" id="filePath"></input>
		                </div>
		 
		            </div>

					<br><br><br><br>
					<button id="next_pic" type="button" value="Next" onclick="store_annotations();"><i class="fa fa-arrow-circle-right fa-4x"></i></button>
				</form>
	    </div>
			<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>



		<script src="{{ url_for('static', filename='assets/js/jquery.ui.widget.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.fileupload.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.fileupload-process.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.fileupload-ui.js') }}"></script>

	</body>
</html>
